@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

/* Css variables */

:root{
    --color-primary:#6f6af8;
    --color-primary-light:hsl(242,91%,69%,18%);
    --color-primary-variant:#5854c7;
    --color-red:#da0f3f;
    --color-red-light:hsl(346,87%,46%,15%);
    --color-green:#00c476;
    --color-green-light:hsl(156,100%,38%,15%);
    --color-gray-900:#1e1e66;
    --color-gray-700:#2d2b7c;
    --color-gray-300:rgba(242,242,254,0.7);
    --color-white:#f2f2f3;
    --color-bg:#0f0f3e;

    --transition:all 300ms ease;

    --container-width-lg:74%;
    --container-width-md:88%;

    --form-width:40%;

    --card-border-radius-1:0.3rem;
    --card-border-radius-2:0.5rem;
    --card-border-radius-3:0.8rem;
    --card-border-radius-4:2rem;
    --card-border-radius-5:5rem;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-transform: capitalize;

}


/* ========== GENRAL STYLE =============== */
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    line-height: 1.6;
    color: var(--color-gray-200);
    overflow-x: hidden;
background: var(--color-bg);
font-size: 0.9rem;
scroll-behavior: smooth;
}
.mr20{
    margin-bottom: 20px;
}
.mrt{
    margin-top: 20px;
}

.mr_top{
    margin-top: 8rem;
}
.container{
    width: var(--container-width-lg);
    max-width: 1800px;
    margin-inline:auto;
}
section{
    margin-top: 3rem;
    width: 100%;
}
h1, h2, h3, h4, h5{
    color: var(--color-white);
    line-height: 1.3;
}
h1{
    font-size: 3rem;
    margin: 1rem 0;
}
h2{
    font-size: 1.7rem;
    margin: 1rem 0;
}
h3{
    font-size: 1.2rem;
}
h4{
    font-size: 1rem;
}
a{
    color: var(--color-white);
    transition: var(--transition);
}
img{
    display: block;
    object-fit: cover;
    width: 100%;
}
nav{
    background: var(--color-primary);
    width: 100vw;
    height: 4.5rem;
    position:fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);

} 
.section_extra_margin{
    margin-top: 7rem;
}
nav button{
    display: none;
}
.nav_container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.avatar{
    width: 2.5rem;
   height: 2.5rem;
   border-radius: 50%;
   overflow: hidden;
   border: 0.3rem solid var(--color-bg);
}
.nav_log{
    font-size: 1.2rem;
    font-weight: 600;

}
.nav_items{
    display: flex;
    align-items: center;
    gap: 4rem;
    text-transform: uppercase;
}
.nav_profile{
    position: relative;
    cursor: pointer;
}
.nav_profile ul{
    position: absolute;
    top: 125%;
    right: 0;
    display: flex;
    flex-direction: column;
    visibility: hidden;
     opacity: 0;
     transition: all .2s ease-in;
}
.nav_profile ul li a{
    padding: 1rem;
    background: var(--color-gray-900);
    display: block;
    width: 100%;
}
.nav_profile ul li:last-child a{
    background: var(--color-red);
    color: var(--color-bg);
}
.nav_profile:hover >ul{
visibility: visible;
opacity: 1;
}


.featured{
    margin-top: 8rem;
}
.featuerd_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}
.post_thumbnail{
    border: 1rem solid var(--color-primary);
    overflow: hidden;
    border-radius: var(--card-border-radius-5) 0;
}

.post_thumbnail img{
    height: 100%;
}
.post_auther_avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.post_auther_avatar img{
    border-radius: 50%;
object-fit: cover;
}
    

.category_button{
    background: var(--color-primary-light);
    color: var(--color-primary);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: var(--card-border-radius-2);
    font-size: 0.8rem;
    font-weight: 500;
}

.post_info p {
    color: var(--color-white);
    line-height: 1.8;
    font-size: 1rem;
}
.post_auther{
    display: flex;
    margin-top: 1rem;
    gap: 20px;
   
}
.post .post_thumbnail:hover img{
    filter: saturate(0);
    transition: filter 500ms ease;

}
.posts_container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 3rem;
    margin-bottom: 5rem;
}
.category_buttons{
    padding: 4rem 0;
    border-top: 2px solid var(--color-gray-900);
    border-bottom: 2px solid var(--color-gray-900);
}
 .category_buttons_container{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
 }
 footer{
    background: var(--color-gray-900);
    padding: 5rem 0 0 ;
    box-shadow: inset 0 1.5rem 1.5rem rgba(0,0,0,0.2);

 }
 .footer_socials{
    margin-inline: auto;
    width: fit-content;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
 }
 .footer_socials a{
    background: var(--color-bg);
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 20px;
    position: relative;


 }
 .footer_socials a i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
 }
 .footer_socials a:hover{
    background: var(--color-white);
    color: var(--color-bg);
 }
footer .categor_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
footer .categor_container article{
    margin-bottom: 3rem;
}
footer .categor_container article h4{
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
footer .categor_container article ul {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;

    
}
footer .categor_container article ul li{
    display: inline-block;
    padding: 4px 8px;
    border-radius: 3px;
    opacity: 0.75;


}
footer .categor_container article ul li:hover{
background: var(--color-gray-700);
opacity: 1;

letter-spacing: 1px;
}

.close_nav_btn{
    display: none !important
}




/* search bar */


.search_bar{
    margin-bottom: 4rem;
}

.search_bar_container{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 2rem;
  
} 

 .form_input{
    position: relative;
    width: 400px;
    height: 40px;
    padding: 25px 20px;
  
}

.form_input input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid var(--color-bg);
    background:var(--color-gray-700);
    color: var(--color-white);
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 400;
} 
.form_input i{
   position: absolute;
   right: 10px;
   top: 50%;
   transform: translateY(-50%);
   z-index: 2;
   color: var(--color-white);
   font-size: 18px;
   cursor: pointer;
}

.search_bar_container .btn{
    background: transparent;
    border: 1px solid var(--color-white);
    padding: 8px 20px;
    font-size: 0.9rem;
    color: var(--color-white);
    border-radius: 6px;
    cursor: pointer;
    transition: .4s ease;
    letter-spacing: 1px;
}
.search_bar_container .btn:hover{
    background: var(--color-white);
    border: 1px solid var(--color-gray-700);
    color: var(--color-gray-700);
}




.singlepost{
    margin-bottom: 2rem;

}
.singlepost__container{
    width: var(--form-width);
    background: var(--color-gray-900);
    padding:1rem 1.5rem;
    border-radius: var(--card-border-radius-1);
}

.singlepost__container p{
    margin-top: 1rem;
    line-height: 1.7;
    color: var(--color-white);

}

.singlepost_thumbnil{
    margin-top: 1rem;
}


.category_title{
    width: 100vw;
    background: var(--color-gray-700);
}

.category_title-container{
    display: flex;
    justify-content: center;
    padding: 3rem;
   
}

.empty_page{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    background: var(--color-gray-700);
    height: 74vh;
}




.alert_message.lg{
    text-align: center;
}




.form_section{
    display: grid;
    place-items: center;
    height:100vh ;

}

.form_section_container{
    width: var(--form-width);
}

.alert_message{
    background: var(--color-red-light);
    padding: 0.8rem 1.4rem;
    margin-bottom: 1rem;
    border-radius: var(--card-border-radius-2);
    color: var(--color-red);
}
form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form_control{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    color: var(--color-white);
    text-transform: capitalize;
}


input,textarea,select{
    padding: 0.8rem 1.4rem;
    background: var(--color-gray-900);
    outline: none;
    border: none;
    border-radius: var(--card-border-radius-1);
    color: var(--color-white);
    resize: none;
}


.btn{
    width: fit-content;
    display: inline-block;
    padding: 0.6rem 1.2rem;
    background-color: var(--color-primary);
    border-radius: var(--card-border-radius-2);
    cursor: pointer;
    transition: var(--transition);
    color: var(--color-white);

}

.form_section small{
    margin-top: 1rem;
    color: var(--color-white);
}

.form_control.inline{
    flex-direction: row;
}

.dashboard_container{
    display: grid;
    grid-template-columns: 14rem auto;
    gap: 1rem;
    background: var(--color-gray-900);
    margin-bottom: 4rem;
    padding: 2rem;
    border-radius: var(--card-border-radius-2);
}
.dashboard_container aside a{
    background-color: var(--color-primary);
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1.6rem;

}
.dashboard_container aside ul li:not(:last-child) a{
    border-bottom: 1px solid var(--color-gray-900);

}
.dashboard_container aside a:hover {
    background: var(--color-gray-700);

}
main{
    margin-left: 1.5rem;
    color: var(--color-white);
}

.dashboard_container main h2{
    margin:0 0 2rem 0 ;
    line-height: 1;
}
.dashboard_container main table{
    width: 100%;
    text-align: left;
}
.dashboard_container main table th{
    background-color: var(--color-gray-700);
    padding: 0.8rem;
    color: var(--color-white);
    text-transform: capitalize;
}
.dashboard_container main table td{
    padding: 0.8rem;
    border-bottom: 1px solid var(--color-gray-300);
}


.dashboard_container main table tr:hover td{
    background: var(--color-bg);
    color: var(--color-white);
    transition: var(--transition);
}




.btn.sm{
    padding: 0.3rem 1rem;
    font-size: 0.8rem;
    transition: var(--transition);
}

.btn.sm.danger{
    background: var(--color-red);
}
.btn.sm:hover{
    background:#3f3bba;
 
}
.btn.sm.danger:hover{
    background: #ae0c32;
}











@media (max-width:1024px){
    nav{
        width: 100%;
    }
    .container{
        width: 100%;
        /* padding: 20px; */
      
    }
h2{
    font-size: 1.6rem;
}
h3{
    font-size: 1.2rem;
}
h4{
    font-size: 1.8rem;
}
.nav_log{
    padding-left: 20px;
}

nav button{
    display: inline-block;
    font-size: 1.5rem;
    background: transparent;
    color: var(--color-white);

    margin-right: 30px;
   
}

.nav_buttons .close{
    display: none;
}
.nav_container{
    position: relative;
}
.nav_items{
position: absolute;
top: 100%;
flex-direction: column;

right: 0;
width:12rem ;
justify-content: flex-start;
align-content: center;
gap: 0;
display: none;
}
.nav_items.active{
    display: flex;
}

.nav_items li{
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    background: var(--color-gray-900);
    border-top: 1px solid var(--color-bg);
}
.nav_items li a{
    border-radius: 0;
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
}


.featuerd_container{
display: grid;
grid-template-columns: 1fr 1fr;
padding: 20px;
}

.posts_container{
    grid-template-columns: 1fr 1fr;
    padding: 20px;

}

.category_buttons{
    padding: 20px;
}
footer{
    padding: 20px;
}
.form_section_container{
    padding: 0 20px;
}
.dashboard_container{
    display: flex;
    flex-direction: column;

}
.dashboard_container main{
    margin: 0;
}
.dashboard_container main table{
    text-align: center;
}
}






@media screen and (max-width:425px){
  
h2{
    font-size: 1.3rem;
}
h3{
    font-size: 1rem;
}
h4{
    font-size: .8rem;}

.featuerd_container{ grid-template-columns: 1fr ; }

.posts_container{grid-template-columns: 1fr; }

footer .categor_container{
    display: grid;
    grid-template-columns: 1fr; }

    footer .categor_container  article{
        text-align: center;
        margin-bottom: 1rem;
    }
    .category_buttons_container{
        grid-template-columns: 1fr 1fr;
    }


    .search_bar_container{
        flex-direction: column;
        padding: 0 20px;
    }
    .search_bar_container .form_input{
        width: 85%;
    }
.form_section_container{
    padding: 0 20px;
}
    
}


/* slide img */
.slider-cont {
    margin: 10px auto;
    width: 900px;
    height: 350px;
    position: relative;
  }
  .slider-cont img {
    height: 340px;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    text-align: center;
  }
  
  .slider-cont img.active {
    opacity: 1;
  }
  .slider-cont .slider-number {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    margin: 5px 10px;
    font-size: 20;
    z-index: 2;
    border-radius: 6px;
  }
  
  .slider-controls {
    width: 800px;
    margin: auto;
    overflow: hidden;
  }
  .slider-controls .next,
  .slider-controls .prev {
    background-color: aqua;
    color: #fff;
    font-size: 16px;
  
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px;
    user-select: none;
    width: 20%;
  }
  .slider-controls .prev {
    float: left;
  }
  .slider-controls .next {
    float: right;
  }
  
  .slider-controls .prev.disabled,
  .slider-controls .next.disabled {
    background-color: #00ffff3d;
    cursor: no-drop;
  }
  .slider-controls .indecators {
    width: 60%;
    float: left;
  }
  
  .slider-controls .indecators ul {
    list-style: none;
    margin: 0;
    text-align: center;
  }
  .slider-controls .indecators ul li {
    display: inline-block;
    background-color: #f6f6f6f6;
    color: #333;
    height: 28px;
    width: 28px;
    border-radius: 4px;
    margin: 0 2px;
    line-height: 28px;
    cursor: pointer;
  }
  .slider-controls .indecators ul li.active {
    background-color: aqua;
    color: #fff;
  }
  /* end slidr img */